
@{
    ViewBag.Title = "Cadastro Contrato";
}



<ol class="breadcrumb">
    <li><a href="/Home/Index">Principal</a></li>
    <li class="active">Cadastro contrato</li>
</ol>



<div class="container" style="margin-top:20px;">

    <div class="row">
        <div class="widget widget-gray">
            <!-- TYPE PANEL -->
            <div class="widget-head">
                <!-- HEAD PANEL -->
                <h4 class="heading"><i class="fa fa-archive"></i> Cadastro de contrato</h4>
            </div><!-- /HEAD PANEL -->

            <div class="widget-body" id="widget-body1">
                <!-- CONTENT PANEL -->

                <h4>Dados pessoais</h4>
                <hr class="style4" />

                <form>


                    <div class="form-group col-md-6">
                        <label for="nome">Nome completo</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control telefone" id="telefone" placeholder="Telefone">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="telefone">Celular</label>
                        <input type="text" class="form-control telefone" id="telefone" placeholder="Telefone">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control cpf" id="cpf" placeholder="CPF">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="rg">RG</label>
                        <input type="text" class="form-control" id="rg" placeholder="RG">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="civil">Estado civil</label>
                        <select class="custom-select form-control" id="civil">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Solteiro</option>
                            <option value="2">Casado</option>
                            <option value="3">Viúvo</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="nascimento">Data de nascimento</label>
                        <input type="text" class="form-control data" id="nascimento" placeholder="Data de nascimento">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="sexo">Sexo</label>
                        <select class="custom-select form-control decorated " id="sexo">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="naturalidade">Naturalidade</label>
                        <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade">
                    </div>


                    <div class="form-group col-md-2">
                        <label for="sus">Cartão SUS</label>
                        <input type="text" class="form-control" id="sus" placeholder="Cartão SUS">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="mae">Nome da mãe</label>
                        <input type="text" class="form-control" id="mae" placeholder="Nome da mãe">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="pai">Nome do pai</label>
                        <input type="text" class="form-control" id="pai" placeholder="Nome do pai">
                    </div>

                    <h4>Endereço</h4>
                    <hr class="style4">

                    <div class="form-group col-md-3">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control cep" id="cep" placeholder="CEP">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="rua">Rua</label>
                        <input type="text" class="form-control" id="rua" placeholder="Rua">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="numero">Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="Número">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="complemento">Complemento</label>
                        <input type="text" class="form-control" id="complemento" placeholder="Complemento">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro" placeholder="Bairro">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="estado">Estado</label>
                        <select class="custom-select form-control decorated " id="estado">
                            <option selected>Escolha uma opção</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AM">Amazonas</option>
                            <option value="AP">Amapá</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RO">Rondônia</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SE">Sergipe</option>
                            <option value="SP">São Paulo</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>



                    <h4>Produtos</h4>
                    <hr class="style4">

                    <div class="form-group col-md-12">


                        <div class="form-group col-md-6">
                            <label for="operadora">Operadora</label>
                            <select class="custom-select form-control decorated " id="operadora">
                                <option selected>Escolha uma opção</option>
                                <option value="1">teste</option>
                                <option value="2">teste</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="instituicao">Instituição</label>
                            <select class="custom-select form-control decorated " id="instituicao">
                                <option selected>Escolha uma opção</option>
                                <option value="1">teste</option>
                                <option value="2">teste</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="instituicao">Empresa</label>
                            <select class="custom-select form-control decorated " id="empresa">
                                <option selected>Escolha uma opção</option>
                                <option value="1">teste</option>
                                <option value="2">teste</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="produto">Produtos</label>
                            <select class="form-control" id="produto">
                                <option value="1">produto01</option>
                                <option value="2">produto02</option>
                                <option value="3">produto03</option>
                                <option value="4">produto04</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="desconto">Desconto</label>
                            <input type="number" step="0.01" min="0" class="form-control" id="desconto" placeholder="Desconto">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="vigencia">Vigência</label>
                            <input type="date" class="form-control" id="vigencia" placeholder="Vigência">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="cobranca">Tipo de Cobrança</label>
                            <select class="form-control" id="cobranca">
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                                <option value="4">d</option>
                            </select>
                        </div>

                        <div class="form-group col-md-1">
                            <label for="btAdd">Adicionar</label>
                            <button type="button" id="btAdd" class="btn btn-primary btn-sm " style="margin-left:10px;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="form-group col-md-3 " style="margin-top:25px;">
                            <input type="checkbox" name="excecao" id="excecao" autocomplete="off" />
                            <div class="btn-group">
                                <label for="isento" class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="excecao" class="btn btn-default active">
                                    Produto com Exceção
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="carencia">Carência</label>
                            <select class="form-control" id="carencia" name="carencia">
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                                <option value="4">d</option>
                            </select>
                        </div>

                        <div class="form-group col-md-5">
                            <label for="cobranca">Tipo de Exceção</label>
                            <select class="form-control" id="tipo_excecao[]" name="tipo_excecao[]">
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                                <option value="4">d</option>
                            </select>
                        </div>

                        <div class="form-group col-md-1" style="margin-top:28px;">
                            <button type="button" id="btAddExc" class="btn btn-default btn-sm " style="margin-left:10px;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div id="divExc" class="col-md-9 col-lg-offset-3">
                            <!---div inputs excecao-->
                        </div>


                    </div>


                    <hr class="style4">
                    <div class="form-group col-md-12">
                        <div class="well" id="well">

                        </div>
                    </div>

                    <h4>Financeiro</h4>
                    <hr class="style4">

                    <div class="form-group col-md-3">
                        <label for="pagamento">Modo de pagamento</label>
                        <select class="custom-select form-control decorated " id="pagamento">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Cartão de crédito</option>
                            <option value="2">Boleto bancário</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="banco">Banco</label>
                        <select class="custom-select form-control decorated " id="banco">
                            <option selected>Escolha uma opção</option>
                            <option value="1">BB</option>
                            <option value="2">Itau</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="agencia">Agência</label>
                        <input type="text" class="form-control" id="agencia" placeholder="Agência">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="conto">Conta corrente</label>
                        <input type="text" class="form-control" id="conta" placeholder="Conta corrente">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="dataVencimento">Data de Vencimento</label>
                        <input type="date" class="form-control" id="dataVencimento" placeholder="">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="alterarDataVencimento">Alterar Data de Vencimento</label>
                        <input type="date" class="form-control" id="alterarDataVencimento" placeholder="">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="periodicidade">Periodicidade taxa extra</label>
                        <select class="form-control" id="periodicidade">
                            <option value="-1">Selecione uma opção</option>
                            <option value="mensal">Mensal</option>
                            <option value="anual">Anual</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3 ">
                        <label for="taxa">Taxa extra</label>
                        <input type="number" step="0.01" min="0" class="form-control" id="taxa" placeholder="Taxa extra">
                    </div>

                    <div class="form-group col-md-12 ">
                        <label for="taxa_descricao">Descrição da taxa extra</label>
                        <input type="number" class="form-control" id="taxa_descricao" placeholder="Descrição da taxa extra">
                    </div>


                    <hr class="style4">

                    <div class="form-group col-md-12">
                        <label for="obs">Observação </label>
                        <textarea class="form-control" rows="5" id="obs"></textarea>
                    </div>


                    <hr class="style4">

                    <div class="col-md-3 offset-md-6">
                        <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#modal">
                            Salvar cadastro
                        </button>
                    </div>

                </form>

                <span class="clear"></span>

            </div><!-- /CONTENT PANEL -->

            <div class="widget-footer">
                <!-- FOOTER PANEL-->
                <a href="#" id="toggle1" class="fa fa-chevron-up fa-1x" title=""><i></i></a>
            </div><!-- /FOOTER PANEL-->

        </div> <!-- /TYPE PANEL -->

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="Janela" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Painel de confimação</h4>
            </div>
            <div class="modal-body text-center">
                Deseja realmente salvar o cadastro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Produtos detalhe-->
<div class="modal fade" id="modalProdutoDetalhe" tabindex="-1" role="dialog" aria-labelledby="Janela" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Detalhes do Produto</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Como a navegação recarrega a pagina esse script tem que ser usada em cada view -->
@section Scripts {
    <script type="text/javascript">


        $('#cep').keyup(function () {

            var cep = $(this).val().replace(/[^a-z0-9]/gmi, "");

            if (cep.length == 8) {
                $.ajax({
                    method: "GET",
                    url: "/Cliente/RetornaCep/" + cep,
                    success: function (r) {
                        var retorno = JSON.parse(r);
                        $("#rua").val(retorno.logradouro);
                        $("#bairro").val(retorno.bairro);
                        $("#cidade").val(retorno.localidade);
                        $("#estado").val(retorno.uf);
                        $("#complemento").val(retorno.complemento);

                    }
                });
            }

        });


        $('.nav-pills li:eq(1) a').tab('show');
        $(".data").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $(".telefone").mask("(999) 9999-9999");
        $(".cpf").mask("999.999.999-99");
        $(".cep").mask("99999-999");



        $("#btAddExc").on("click", function () {
            var el = $('select[id^="tipo_excecao"]:first').clone();
            var id = Math.floor((Math.random() * 1000) + 1);
            el.attr('id', 'exc_' + id);
            var botao = '<div class="form-group col-md-1 pull-right" style="margin-right:4px;" ><button type="button" style="float:right;" onclick="excluirExcecao(' + 'exc_' + id + ', this)" class="btn btn-default btn-sm "><i class="fa fa-minus" aria-hidden="true"></i></button></div>';

            el.css({ "margin-bottom": "15px", "width": "88.6%" }).addClass("col-md-8").prependTo("#divExc");
            $(botao).insertAfter(el);
        });



        $("#btAdd").on("click", function () {

            var array = [];

            $('select[name^="tipo_excecao"]').each(function () {
                $(this);
                var obj = { "id": $(this).val(), "excecao": $(this).context.selectedOptions[0].innerText };
                array.push(obj);
            });

            var produto = $("#produto").val();
            var nomeproduto = $("#produto option:selected").text();
            var desconto = $("#desconto").val();
            var cobranca = $("#cobranca").val();
            var nomecobranca = $("#cobranca option:selected").text();
            var vigencia = $("#vigencia").val();
            var carencia = $("#carencia").val();
            var carencianome = $("#carencia  option:selected").text();
            var excecao = $("#excecao").val();


            var produto_text = $("#produto option:selected").text();


            var jsonObj = { 'excecao': excecao, 'carencia': carencia, 'carencianome': carencianome, 'nome': nomeproduto, 'produto': produto, 'nomecobranca': nomecobranca, 'desconto': desconto, 'vigencia': vigencia, 'cobranca': cobranca, 'array': array };


            var botao = ' <div class="btn-group">'
                                + '<button type="button" onclick="return false;" class="btn btn-mini">' + produto_text + '</button>'
                                + '<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">'
                                + '<span class="caret"></span>'
                                + '</button>'
                                + '<ul class="dropdown-menu">'
                                + '<li><a href="javascript:void(0)" onclick=\'modalDetalhes(' + JSON.stringify(jsonObj) + ')\' >Detalhes</a></li>'
                                + '<li><a href="javascript:void(0)" onclick="excluirProduto(this)" rel=\'' + JSON.stringify(jsonObj) + '\'>Excluir</a></li>'
                                + '</ul>'
                        + '</div> ';


            if (produto != "" && vigencia != "" && cobranca != "") {
                $(".well").append(botao);
            }

        });


        function modalDetalhes(obj) {

            var exc = "";

            for (i = 0; i < obj.array.length; i++) {
                exc += "<li class='list-group-item' style='color: #a94442; background-color: #f2dede;'>Exceção:" + obj.array[i].excecao + "</li>";
            }

            var dataformatada = new Date(obj.vigencia);
            dataformatada.setDate(dataformatada.getDate() + 1);



            var html = "<ul class='list-group'>";
            html += "<li class='list-group-item'>Produto:" + obj.nome + "</li>";
            html += "<li class='list-group-item'>Desconto:" + (obj.desconto != "" ? obj.desconto : "Nenhum") + "</li>";
            html += "<li class='list-group-item'>Vigência:" + dataformatada.toLocaleString("pt-BR", { year: 'numeric', month: 'numeric', day: 'numeric' }) + "</li>";
            html += "<li class='list-group-item'>Carência:" + obj.carencianome + "</li>";
            html += "<li class='list-group-item'>Tipo de Cobrança:" + obj.nomecobranca + "</li>";
            html += exc;
            html += "</ul>";

            $('#modalProdutoDetalhe .modal-body').html(html);

            $('#modalProdutoDetalhe').modal();

        }



        function excluirProduto(elemento) {
            elemento.parentElement.parentElement.parentElement.remove();
        }


        function excluirExcecao(elemento, botao) {
            elemento.remove();
            botao.remove();
        }


    </script>
}
