
@{
    ViewBag.Title = "Cadastro Contrato";
}



<ol class="breadcrumb">
    <li><a href="/Home/Index">Principal</a></li>
    <li class="active">Cadastro contrato</li>
</ol>



<div class="container" style="margin-top:20px;">


    <div class="widget widget-gray">
        <!-- TYPE PANEL -->
        <div class="widget-head">
            <!-- HEAD PANEL -->
            <h4 class="heading"><i class="fa fa-archive"></i> Cadastro de contrato</h4>
        </div><!-- /HEAD PANEL -->

        <div class="widget-body" id="widget-body1">
            <!-- CONTENT PANEL -->



            <form>
                <div class="row">

                    <h4>Contrato</h4>

                    <hr class="style4" />


                    <div class="form-group col-md-10">
                        <label for="campo_busca">CPF do contratante</label>
                        <input type="text" class="form-control" id="campo_busca" placeholder="Número do CPF">
                    </div>

                    <div class="form-group col-md-2">

                        <button type="button" class="btn btn-primary btn-sm" style="width:100%; font-size:15px; margin-top:25px;">
                            <i class="fa fa-search" aria-hidden="true"></i> Buscar
                        </button>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-12">
                        <table class="table" id="tabela_contratante">
                            <thead>
                                <tr class="cabecalho_tabela">
                                    <th>Dados do contratante</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="normal text-center" id="primeiro_contratante">Nenhum contratante selecionado</td>
                                </tr>
                                <!--    <tr>
                                        <td class="normal">
                                            <div class="form-group col-md-6">
                                                <label for="nome_contratante">Nome</label>
                                                <input type="text" class="form-control "  disabled="disabled" id="nome_contratante">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="cpf_contratante">CPF</label>
                                                <input type="text" class="form-control"   disabled="disabled" id="cpf_contratante">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="rg_contratante">RG</label>
                                                <input type="text" class="form-control"   disabled="disabled" id="rg_contratante">
                                            </div>
                                        </td>
                                    </tr>
                                    -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <h4>Anexar Documentos</h4>
                    <hr class="style4">
                    <div class="form-group col-md-9"></div>

                    <div class="form-group col-md-3">
                        <button type="button" id="btAdd" class="btn btn-primary btn-sm pull-right " style="margin-left:10px;">
                            <i class="fa fa-paperclip" aria-hidden="true"></i> Anexar
                        </button>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="nome_anexo">Descrição</label>
                        <input type="text" class="form-control" id="nome_anexo" placeholder="Descrição">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="tipo_documento">Tipo de Documento</label>
                        <select class="custom-select form-control decorated " id="tipo_documento">
                            <option selected>Escolha uma opção</option>
                            <option value="1">teste</option>
                            <option value="2">teste</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="anexo">Documento</label>
                        <input type="file" class="form-control" id="anexo" placeholder="Anexo">
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <table class="table" id="tabela_anexo">
                            <thead>
                                <tr class="cabecalho_tabela">
                                    <th>Documentos anexados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="normal text-center" id="primeiro_contratante">Nenhum documento anexado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row">

                    <h4>Produtos</h4>
                    <hr class="style4">

                    <!--Campo oculto para enviar o id do well para cadastrar o produto  -->
                    <div class="form-group col-md-9"><input type="hidden" id="inputWell" value="" /></div>

                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-sm pull-right " onclick="modalProduto('#well1')" style="margin-left:10px;">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar produto ao contrato
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="well" id="well1">

                        </div>
                    </div>

                </div>


                <div class="row">
                    <h4>Beneficiário</h4>
                    <hr class="style4">

                    <div class="form-group col-md-9"></div>

                    <div class="form-group col-md-3 text-center ">
                        <button type="button" id="btAddBene" class="btn btn-primary btn-sm pull-right " style="margin-left:10px;">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar um novo beneficiário
                        </button>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="nome_beneficiario">*Nome completo</label>
                        <input type="text" class="form-control" id="nome_beneficiario" placeholder="Nome completo">
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button"  class="btn btn-primary" style="margin-top:25px; margin-left:-25px;">
                            <i class="fa fa-search" aria-hidden="true"></i> Buscar
                        </button>
                    </div>


                    <div class="form-group col-md-6">
                        <label for="email_beneficiario">Email</label>
                        <input type="email" class="form-control" id="email_beneficiario" placeholder="Email">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="telefone_beneficiario">Telefone</label>
                        <input type="text" class="form-control telefone" id="telefone_beneficiario" placeholder="Telefone">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="cpf_beneficiario">CPF</label>
                        <input type="text" class="form-control cpf" id="cpf_beneficiario" placeholder="CPF">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="rg_beneficiario">RG</label>
                        <input type="text" class="form-control" id="rg_beneficiario" placeholder="RG">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="civil_beneficiario">Estado civil</label>
                        <select class="custom-select form-control" id="civil_beneficiario">
                            <option selected>Escolha uma opção</option>
                            <option value="Solteiro">Solteiro</option>
                            <option value="Casado">Casado</option>
                            <option value="Viúvo">Viúvo</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="nascimento_beneficiario">Data de nascimento</label>
                        <input type="text" class="form-control data" id="nascimento_beneficiario" placeholder="Data de nascimento">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="sexo_beneficiario">Sexo</label>
                        <select class="custom-select form-control decorated " id="sexo_beneficiario">
                            <option selected>Escolha uma opção</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="naturalidade_beneficiario">Naturalidade</label>
                        <input type="text" class="form-control" id="naturalidade_beneficiario" placeholder="Naturalidade">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="sus_beneficiario">Cartão SUS</label>
                        <input type="text" class="form-control" id="sus_beneficiario" placeholder="Cartão SUS">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="mae_beneficiario">Nome da mãe</label>
                        <input type="text" class="form-control" id="mae_beneficiario" placeholder="Nome da mãe">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="pai_beneficiario">Nome do pai</label>
                        <input type="text" class="form-control" id="pai_beneficiario" placeholder="Nome do pai">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="parentesco_beneficiario">Parentesco</label>
                        <select class="custom-select form-control decorated " id="parentesco_beneficiario">
                            <option selected>Escolha uma opção</option>
                            <option value="filho">Filho</option>
                            <option value="irma">Irmã</option>
                            <option value="companheiro">Companheiro</option>
                            <option value="enteado">Enteado</option>
                            <option value="esposo">Esposo</option>
                            <option value="cunhado">Cunhado</option>
                            <option value="genro">Genro</option>
                            <option value="madastra">Madastra</option>
                            <option value="mae">Mãe</option>
                            <option value="nora">Nora</option>
                            <option value="neto">Neto</option>
                            <option value="padastro">Padastro</option>
                            <option value="Tio">Tio</option>
                            <option value="pai">Pai</option>
                            <option value="primo">Primo</option>
                            <option value="sobrinho">Sobrinho</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4 " style="margin-top:25px;">
                        <input type="checkbox" name="Isento de mensalidade" id="isento_beneficiario" autocomplete="off" />
                        <div class="btn-group">
                            <label for="isento_beneficiario" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span> </span>
                            </label>
                            <label for="isento_beneficiario" class="btn btn-default active">
                                Isento de mensalidade
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-md-offset-2"  style="margin-top:25px;">
                        <button type="button" class="btn btn-primary btn-sm pull-right " onclick="modalProduto('#well2')" style="margin-left:10px;">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar produto específico ao beneficiário
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="well" id="well2">

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <table class="table" id="tabela_beneficiario">
                            <thead>
                                <tr class="cabecalho_tabela">
                                    <th width="90%">Dados do beneficiário</th>
                                    <th width="5%" align="center"></th>
                                    <th width="5%" align="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3" class="normal text-center" id="primeiro">Nenhum beneficiário cadastrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">

                    <hr class="style4">
                    <div class="form-group col-md-12">
                        <label for="obs">Observação do contrato</label>
                        <textarea class="form-control" rows="5" id="obs"></textarea>
                    </div>

                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>  Salvar cadastro
                        </button>
                    </div>

                </div>

            </form>

            <span class="clear"></span>

        </div><!-- /CONTENT PANEL -->

        <div class="widget-footer">
            <!-- FOOTER PANEL-->
            <a href="#" id="toggle1" class="fa fa-chevron-up fa-1x" title=""><i></i></a>
        </div><!-- /FOOTER PANEL-->

    </div> <!-- /TYPE PANEL -->

</div>



<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="Janela" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Painel de confimação</h4>
            </div>
            <div class="modal-body text-center">
                Deseja realmente salvar o cadastro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>





<!-- Modal Produtos detalhe-->
<div class="modal fade" id="modalProdutoDetalhe" tabindex="-1" role="dialog" aria-labelledby="Janela" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Detalhes do Produto</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Produtos-->
<div class="modal fade" id="modalProdutos" tabindex="-1" role="dialog" aria-labelledby="Janela" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Adicionar produtos</h4>
            </div>
            <div class="modal-body">

                <div class="row">


                    <div class="form-group col-md-12">

                        <div class="form-group col-md-3">
                            <label for="operadora">Operadora</label>
                            <select class="custom-select form-control decorated " id="operadora">
                                <option selected>Escolha uma opção</option>
                                <option value="1">teste</option>
                                <option value="2">teste</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="carencia">Carência</label>
                            <select class="form-control" id="carencia" name="carencia">
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                                <option value="4">d</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="instituicao">Instituição</label>
                            <select class="custom-select form-control decorated " id="instituicao">
                                <option selected>Escolha uma opção</option>
                                <option value="1">teste</option>
                                <option value="2">teste</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="instituicao">Empresa</label>
                            <select class="custom-select form-control decorated " id="empresa">
                                <option selected>Escolha uma opção</option>
                                <option value="1">teste</option>
                                <option value="2">teste</option>
                            </select>
                        </div>



                        <div class="form-group col-md-6">
                            <label for="produto">Produtos</label>
                            <select class="form-control" id="produto">
                                <option value="1">produto01</option>
                                <option value="2">produto02</option>
                                <option value="3">produto03</option>
                                <option value="4">produto04</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 ">
                            <label for="data_vencimento">Data de vencimento</label>
                            <input type="date" class="form-control" id="data_vencimento" placeholder="Data de vencimento">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="vigencia">Data de Vigência</label>
                            <input type="date" class="form-control" id="vigencia" placeholder="Data de Vigência">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="taxa_extra">Taxa Associativa</label>
                            <input type="number" min="0" class="form-control" id="taxa_extra" placeholder="Taxa extra">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="periodicidade">Periodicidade taxa extra</label>
                            <select class="form-control" id="periodicidade">
                                <option value="-1">Selecione uma opção</option>
                                <option value="mensal">Mensal</option>
                                <option value="anual">Anual</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="desconto">Desconto</label>
                            <input type="number" step="0.01" min="0" class="form-control" id="desconto" placeholder="Desconto">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cobranca">Modo de Cobrança</label>
                            <select class="form-control" id="cobranca">
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                                <option value="4">d</option>
                            </select>
                        </div>


                        <div class="form-group col-md-11">
                            <label for="cobranca">Tipo de Exceção</label>
                            <select class="form-control" id="tipo_excecao[]" name="tipo_excecao[]">
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                                <option value="4">d</option>
                            </select>
                        </div>

                        <div class="form-group col-md-1" style="margin-top:28px;">
                            <button type="button" id="btAddExc" class="btn btn-default btn-sm " style="margin-left:10px;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div id="divExc" class="col-md-12">
                            <!---div inputs excecao-->
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btAddProduto">Salvar</button>
            </div>
        </div>
    </div>
</div>


<!-- Como a navegação recarrega a pagina esse script tem que ser usada em cada view -->
@section Scripts {
    <script type="text/javascript">

        //funcao para abriar os alerts
        function alerta(acao, msg) {

            var erro = '<div class="alert alert-danger alert-dismissable fade in" role="alert"> <strong>Error</strong><p>' + msg + '</p></div>';
            var sucesso = '<div class="alert alert-success alert-dismissable fade in" role="alert"> <strong>Sucesso</strong><p>' + msg + '</p></div>';
            var atencao = '<div class="alert alert-warning alert-dismissable fade in" role="alert">  <strong>Atenção</strong><p>' + msg + '</p></div>';

            switch (acao) {
                case 'erro':
                    acao = erro;
                    break;
                case 'sucesso':
                    acao = sucesso;
                    break;
                case 'atencao':
                    acao = atencao;
                    break;
            }

            var pgt = window.scrollY;
            var vph = $(window).height();
            var top = pgt + vph / 2.5;

            $("#alert").each(function () {
                $(this).remove();
            });

            $('body').append('<div id="alert"><div class="col-md-12">' + acao + ' </div><div  class="col-md-12"> <button type="button" class="btn btn-secondary pull-right" onclick="$(this).parent().parent().fadeOut();" >Fechar</button></div></div>');

            $("#alert").css('top', top);

        }



        $('.nav-pills li:eq(1) a').tab('show');
        $(".data").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $(".telefone").mask("(999) 9999-9999");
        $(".cpf").mask("999.999.999-99");


        $("#btAddBene").on("click", function () {

            var nome_beneficiario = $("#nome_beneficiario").val();
            var email_beneficiario = $("#email_beneficiario").val();
            var cpf_beneficiario = $("#cpf_beneficiario").val();
            var rg_beneficiario = $("#rg_beneficiario").val();
            var telefone_beneficiario = $("#telefone_beneficiario").val();
            var sexo_beneficiario = $("#sexo_beneficiario").val();
            var naturalidade_beneficiario = $("#naturalidade_beneficiario").val();
            var sus_beneficiario = $("#sus").val();
            var mae_beneficiario = $("#mae_beneficiario").val();
            var pai_beneficiario = $("#pai_beneficiario").val();
            var parentesco_beneficiario = $("#parentesco_beneficiario").val();
            var isento_beneficiario = $("#isento_beneficiario").val();
            var nascimento_beneficiario = $("#nascimento_beneficiario").val();
            var estado_civil = $("#civil_beneficiario").val();

            var produto = $("#well2 .btn-primary").html();

            if (isento_beneficiario == "on") {
                isento_beneficiario = "Isento"
            } else {
                isento_beneficiario = "Não isento"
            }


            if (nome_beneficiario != "" && email_beneficiario != "" && cpf_beneficiario != "" && rg_beneficiario != "") {

                if ($("#primeiro").length = 1) { $("#primeiro").remove(); }

                var status = $("#tabela_beneficiario tbody tr").length;

                var id = Math.floor(Math.random() * 1000);

                if ((status % 2) == 0) {
                    status = "ativo";
                } else {
                    status = "normal";
                }

                var html = '';
                html += ' <tr>';
                html += '    <td class="' + status + '">';
                html += '        <span><b>Beneficiário:</b>' + nome_beneficiario + '</span>';
                html += '        <div id="janela_' + id + '" class="collapse" style="margin-top:20px;">';
                html += '            <ul class="list-group">';
                html += '                <li class="list-group-item"><b>Nome:</b> ' + nome_beneficiario + '</li>';
                html += '                <li class="list-group-item"><b>Email:</b> ' + email_beneficiario + '></li>';
                html += '                <li class="list-group-item"><b>Telefone:</b> ' + telefone_beneficiario + '</li>';
                html += '               <li class="list-group-item"><b>CPF:</b> ' + cpf_beneficiario + '</li>';
                html += '               <li class="list-group-item"><b>RG:</b> ' + rg_beneficiario + '</li>';
                html += '                <li class="list-group-item"><b>Estado civil:</b> ' + estado_civil + '</li>';
                html += '                <li class="list-group-item"><b>Data de nascimento:</b> ' + nascimento_beneficiario + '</li>';
                html += '                <li class="list-group-item"><b>Sexo:</b> ' + sexo_beneficiario + '</li>';
                html += '                <li class="list-group-item"><b>Naturalidade:</b> ' + naturalidade_beneficiario + '</li>';
                html += '                <li class="list-group-item"><b>Cartão SUS:</b> ' + sus_beneficiario + '</li>';
                html += '               <li class="list-group-item"><b>Nome da mãe:</b> ' + mae_beneficiario + '</li>';
                html += '               <li class="list-group-item"><b>Nome do pai:</b> ' + pai_beneficiario + '</li>';
                html += '               <li class="list-group-item"><b>Parentesco:</b> ' + parentesco_beneficiario + '</li>';
                html += '                <li class="list-group-item"><b>Isento de mensalidade:</b> ' + isento_beneficiario + '</li>';
                html += '                <li class="list-group-item"><b>Produto:</b>' + produto + '</li>';
                html += '            </ul>';
                html += '        </div>';
                html += '     </td>';
                html += '    <td align="center" style="vertical-align:top;" class="' + status + '">';
                html += '        <button onclick="return false;"  data-target="#janela_' + id + '" class="btn btn-primary btn-sm" data-toggle="collapse"><i class="fa fa-expand" aria-hidden="true"></i> Exibir Detalhes</a>';
                html += '    </td>';
                html += '    <td style="vertical-align:top;" align="center" class="' + status + '">';
                html += '        <button type="button" onclick="excluirRow(this)" class="btn btn-primary btn-sm ">';
                html += '            <i class="fa fa-trash-o" aria-hidden="true"></i>';
                html += '        </button>';
                html += '    </td>';
                html += ' </tr>';



                $("#tabela_beneficiario tbody").append(html);
            }


        });

        function excluirRow(elemento) {
            $(elemento).closest("tr").remove();
        }


        $("#btAddExc").on("click", function () {
            var el = $('select[id^="tipo_excecao"]:first').clone();
            var id = Math.floor((Math.random() * 1000) + 1);
            el.attr('id', 'exc_' + id);
            var botao = '<div class="form-group col-md-1 pull-right" style="margin-right:-12px;"><button type="button" style="float:right;" onclick="excluirExcecao(' + 'exc_' + id + ', this)" class="btn btn-default btn-sm "><i class="fa fa-minus" aria-hidden="true"></i></button></div>';
            el.css({ "margin-bottom": "15px", "width": "91.66%" }).addClass("col-md-11").prependTo("#divExc");
            $(botao).insertAfter(el);
        });



        function modalProduto(well) {
            $("#modalProdutos").modal();
            $("#inputWell").val(well);
        }



        $("#btAddProduto").on("click", function () {

            var well = $("#inputWell").val();
            var array = [];


            $('select[name^="tipo_excecao"]').each(function () {
                if ($(this) !== undefined) {
                    var obj = { "id": $(this).val(), "excecao": $(this).context.selectedOptions[0].innerText };
                    array.push(obj);
                }

            });

            var produto = $("#produto").val();
            var operadora = $("#operadora").val();
            var empresa = $("#empresa").val();
            var instituicao = $("#instituicao").val();
            var produto = $("#produto").val();
            var nomeproduto = $("#produto option:selected").text();
            var desconto = $("#desconto").val();
            var cobranca = $("#cobranca").val();
            var nomecobranca = $("#cobranca option:selected").text();
            var vigencia = $("#vigencia").val();
            var carencia = $("#carencia").val();
            var carencianome = $("#carencia  option:selected").text();
            var excecao = $("#excecao").val();
            var nomeoperadora = $("#operadora option:selected").text();
            var nomeempresa = $("#empresa option:selected").text();
            var nomeinstituicao = $("#instituicao option:selected").text();
            var produto_text = $("#produto option:selected").text();


            var jsonObj = {
                'nomeoperadora': nomeoperadora,
                'nomeempresa': nomeempresa,
                'nomeinstituicao': nomeinstituicao,
                'excecao': excecao,
                'excecao': excecao,
                'carencia': carencia,
                'carencianome': carencianome,
                'nome': nomeproduto,
                'produto': produto,
                'nomecobranca': nomecobranca,
                'desconto': desconto,
                'vigencia': vigencia,
                'cobranca': cobranca,
                'array': array
            };

            var botao = ' <div class="btn-group">'
                                + '<button type="button" onclick="return false;" class="btn btn-mini btn-primary">' + produto_text + '</button>'
                                + '<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">'
                                + '<span class="caret"></span>'
                                + '</button>'
                                + '<ul class="dropdown-menu">'
                                + '<li><a href="javascript:void(0)" onclick=\'modalDetalhes(' + JSON.stringify(jsonObj) + ')\' ><i class="fa fa-search" aria-hidden="true"></i> Detalhes</a></li>'
                                + '<li><a href="javascript:void(0)" onclick=\'modalEditar(' + JSON.stringify(jsonObj) + ')\' ><i class="fa fa-edit" aria-hidden="true"></i> Editar</a></li>'
                                + '<li><a href="javascript:void(0)" onclick="excluirProduto(this)" rel=\'' + JSON.stringify(jsonObj) + '\'> <i class="fa fa-trash" aria-hidden="true"></i> Excluir</a></li>'
                                + '</ul>'
                        + '</div> ';


            if (produto != "" && vigencia != "" && cobranca != "") {
                $(well).append(botao);
                $("#modalProdutos input, select").val([]);
                $("#divExc").html("");
                alerta('sucesso', 'Produto adicionado ao contrato com sucesso.');
            }


        });


        function modalEditar(obj) {
               $("#modalProdutos").modal();
        }


        function modalDetalhes(obj) {

            var exc = "";

            for (i = 0; i < obj.array.length; i++) {
                exc += "<li class='list-group-item' style='color: #a94442; background-color: #f2dede;'>Exceção:" + obj.array[i].excecao + "</li>";
            }

            var dataformatada = new Date(obj.vigencia);
            dataformatada.setDate(dataformatada.getDate() + 1);



            var html = "<ul class='list-group'>";
            html += "<li class='list-group-item'>Produto:" + obj.nome + "</li>";
            html += "<li class='list-group-item'>Desconto:" + (obj.desconto != "" ? obj.desconto : "Nenhum") + "</li>";
            html += "<li class='list-group-item'>Vigência:" + dataformatada.toLocaleString("pt-BR", { year: 'numeric', month: 'numeric', day: 'numeric' }) + "</li>";
            html += "<li class='list-group-item'>Carência:" + obj.carencianome + "</li>";
            html += "<li class='list-group-item'>Operadora:" + obj.nomeoperadora + "</li>";
            html += "<li class='list-group-item'>Instituição:" + obj.nomeinstituicao + "</li>";
            html += "<li class='list-group-item'>Empresa:" + obj.nomeempresa + "</li>";
            html += "<li class='list-group-item'>Tipo de Cobrança:" + obj.nomecobranca + "</li>";
            html += exc;
            html += "</ul>";

            $('#modalProdutoDetalhe .modal-body').html(html);

            $('#modalProdutoDetalhe').modal();

        }



        function excluirProduto(elemento) {
            elemento.parentElement.parentElement.parentElement.remove();
        }


        function excluirExcecao(elemento, botao) {
            elemento.remove();
            botao.remove();
        }


    </script>
}
