
@{
    ViewBag.Title = "Cadastro Cliente";
}



<ol class="breadcrumb">
    <li><a href="/Home/Index">Principal</a></li>
    <li class="active">Cadastro cliente</li>
</ol>



<div class="container" style="margin-top:20px;">

    <form>

        <div class="widget widget-gray">
            <!-- TYPE PANEL -->
            <div class="widget-head">
                <!-- HEAD PANEL -->
                <h4 class="heading"><i class="fa fa-archive"></i> Cadastro de clientes</h4>
            </div><!-- /HEAD PANEL -->

            <div class="widget-body" id="widget-body1">
                <!-- CONTENT PANEL -->

                <div class="row">
                    <h4>Dados pessoais <small style="color:#6c0505; font-size:10px;">*Campos obrigátorios</small></h4>

                    <hr class="style4" />




                    <div class="form-group col-md-6">
                        <label for="nome">*Nome completo</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control telefone" id="telefone" placeholder="Telefone">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="telefone">Celular</label>
                        <input type="text" class="form-control telefone" id="telefone" placeholder="Telefone">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="cpf">*CPF</label>
                        <input type="text" class="form-control cpf" id="cpf" placeholder="CPF">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="rg">*RG</label>
                        <input type="text" class="form-control" id="rg" placeholder="RG">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="civil">*Estado civil</label>
                        <select class="custom-select form-control" id="civil">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Solteiro</option>
                            <option value="2">Casado</option>
                            <option value="3">Viúvo</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="nascimento">*Data de nascimento</label>
                        <input type="text" class="form-control data" id="nascimento" placeholder="Data de nascimento">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="sexo">*Sexo</label>
                        <select class="custom-select form-control decorated " id="sexo">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="naturalidade">*Naturalidade</label>
                        <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade">
                    </div>


                    <div class="form-group col-md-2">
                        <label for="sus">Cartão SUS</label>
                        <input type="text" class="form-control" id="sus" placeholder="Cartão SUS">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="mae">*Nome da mãe</label>
                        <input type="text" class="form-control" id="mae" placeholder="Nome da mãe">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="pai">*Nome do pai</label>
                        <input type="text" class="form-control" id="pai" placeholder="Nome do pai">
                    </div>

                </div>

                <div class="row">
                    <h4>Dados Financeiros</h4>
                    <hr class="style4">

                    <div class="form-group col-md-6">
                        <label for="banco">Banco</label>
                        <select class="custom-select form-control decorated " id="banco">
                            <option selected>Escolha uma opção</option>
                            <option value="1">BB</option>
                            <option value="2">Itau</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="agencia">Agência</label>
                        <input type="text" class="form-control" id="agencia" placeholder="Agência">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="conto">Conta corrente</label>
                        <input type="text" class="form-control" id="conta" placeholder="Conta corrente">
                    </div> 

                </div>

                <div class="row">

                    <h4>Endereço</h4>
                    <hr class="style4">

                    <div class="form-group col-md-9"></div>

                    <div class="form-group col-md-3 text-center ">
                        <button type="button" id="btAddEnd" class="btn btn-primary btn-sm " style="margin-left:10px;">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar um novo endereço
                        </button>
                    </div>


                    <div class="form-group col-md-3">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control cep" id="cep" placeholder="CEP">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="rua">*Rua</label>
                        <input type="text" class="form-control" id="rua" placeholder="Rua">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="numero">*Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="Número">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="tipo">*Tipo de endereço</label>
                        <select class="custom-select form-control decorated " id="tipo">
                            <option selected>Escolha uma opção</option>
                            <option value="cobranca">Cobrança</option>
                            <option value="Residencial">Residencial</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="complemento">Complemento</label>
                        <input type="text" class="form-control" id="complemento" placeholder="Complemento">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="bairro">*Bairro</label>
                        <input type="text" class="form-control" id="bairro" placeholder="Bairro">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cidade">*Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="estado">*Estado</label>
                        <select class="custom-select form-control decorated " id="estado">
                            <option selected>Escolha uma opção</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AM">Amazonas</option>
                            <option value="AP">Amapá</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RO">Rondônia</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SE">Sergipe</option>
                            <option value="SP">São Paulo</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <table class="table" id="tabela_endereco">
                            <thead>
                                <tr class="cabecalho_tabela">
                                    <th>CEP</th>
                                    <th>Rua</th>
                                    <th>Número</th>
                                    <th>Tipo de Endereço</th>
                                    <th>Complemento</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="primeiro">
                                    <td colspan="9" align="center" class="normal">Nenhum endereço cadastrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            <div class="row">

                <hr class="style4">

                <div class="form-group col-md-12">
                    <label for="obs">Observação </label>
                    <textarea class="form-control" rows="5" id="obs"></textarea>
                </div>


                <hr class="style4">

                <div class="col-md-3 offset-md-6">
                    <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#modal">
                        Salvar cadastro
                    </button>
                </div>
            </div>




            </div><!-- /CONTENT PANEL -->

            <div class="widget-footer">
                <!-- FOOTER PANEL-->
                <a href="#" id="toggle1" class="fa fa-chevron-up fa-1x" title=""><i></i></a>
            </div><!-- /FOOTER PANEL-->

        </div> <!-- /TYPE PANEL -->
    </form>
</div>



<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="Janela" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Painel de confimação</h4>
            </div>
            <div class="modal-body text-center">
                Deseja realmente salvar o cadastro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>



<!-- Como a navegação recarrega a pagina esse script tem que ser usada em cada view -->
@section Scripts {
    <script type="text/javascript">


        $('#cep').keyup(function () {

            var cep = $(this).val().replace(/[^a-z0-9]/gmi, "");

            if (cep.length == 8) {
                $.ajax({
                    method: "GET",
                    url: "/Cliente/RetornaCep/" + cep,
                    success: function (r) {
                        var retorno = JSON.parse(r);
                        $("#rua").val(retorno.logradouro);
                        $("#bairro").val(retorno.bairro);
                        $("#cidade").val(retorno.localidade);
                        $("#estado").val(retorno.uf);
                        $("#complemento").val(retorno.complemento);

                    }
                });
            }

        });


        $('.nav-pills li:eq(1) a').tab('show');
        $(".data").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $(".telefone").mask("(999) 9999-9999");
        $(".cpf").mask("999.999.999-99");
        $(".cep").mask("99999-999");



        $("#btAddEnd").on("click", function () {


        

            if ($("#rua").val() != "" && $("#numero").val() != "" && $("#cep").val() != "" && $("#numero").val() != "" && $("#tipo").val() != "" && $("#bairro").val() != "" && $("#cidade").val() != "" && $("#estado").val() != "") {

                if ($("#primeiro").length = 1) { $("#primeiro").remove(); }

                var status = $("#tabela_endereco tbody tr").length;

                if ((status % 2) == 0) {
                    status = "ativo";
                } else {
                    status = "normal";
                }
                var html = '<tr valign="middle" class="' + status + '"><td>' + $("#cep").val() + '</td><td>' + $("#rua").val() + '</td><td>' + $("#numero").val() + '</td><td>' + $("#tipo").val() + '</td><td>' + $("#complemento").val() + '</td><td>' + $("#bairro").val() + '</td> <td>' + $("#cidade").val() + '</td><td>' + $("#estado").val() + '</td><td ><button type="button" onclick="excluirRow(this)" class="btn btn-default btn-sm "><i class="fa fa-minus" aria-hidden="true"></i></button></td> </tr>';
                $("#tabela_endereco tbody").append(html);
            }


        });

        function excluirRow(elemento) {
            $(elemento).closest("tr").remove();
        }


        $("#btAddExc").on("click", function () {
            var el = $('select[id^="tipo_excecao"]:first').clone();
            var id = Math.floor((Math.random() * 1000) + 1);
            el.attr('id', 'exc_' + id);
            var botao = '<div class="form-group col-md-1 pull-right" style="margin-right:4px;" ><button type="button" style="float:right;" onclick="excluirExcecao(' + 'exc_' + id + ', this)" class="btn btn-default btn-sm "><i class="fa fa-minus" aria-hidden="true"></i></button></div>';

            el.css({ "margin-bottom": "15px", "width": "88.6%" }).addClass("col-md-8").prependTo("#divExc");
            $(botao).insertAfter(el);
        });



        $("#btAdd").on("click", function () {

            var array = [];

            $('select[name^="tipo_excecao"]').each(function () {
                $(this);
                var obj = { "id": $(this).val(), "excecao": $(this).context.selectedOptions[0].innerText };
                array.push(obj);
            });

            var produto = $("#produto").val();
            var nomeproduto = $("#produto option:selected").text();
            var desconto = $("#desconto").val();
            var cobranca = $("#cobranca").val();
            var nomecobranca = $("#cobranca option:selected").text();
            var vigencia = $("#vigencia").val();
            var carencia = $("#carencia").val();
            var carencianome = $("#carencia  option:selected").text();
            var excecao = $("#excecao").val();


            var produto_text = $("#produto option:selected").text();


            var jsonObj = { 'excecao': excecao, 'carencia': carencia, 'carencianome': carencianome, 'nome': nomeproduto, 'produto': produto, 'nomecobranca': nomecobranca, 'desconto': desconto, 'vigencia': vigencia, 'cobranca': cobranca, 'array': array };


            var botao = ' <div class="btn-group">'
                                + '<button type="button" onclick="return false;" class="btn btn-mini">' + produto_text + '</button>'
                                + '<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">'
                                + '<span class="caret"></span>'
                                + '</button>'
                                + '<ul class="dropdown-menu">'
                                + '<li><a href="javascript:void(0)" onclick=\'modalDetalhes(' + JSON.stringify(jsonObj) + ')\' >Detalhes</a></li>'
                                + '<li><a href="javascript:void(0)" onclick="excluirProduto(this)" rel=\'' + JSON.stringify(jsonObj) + '\'>Excluir</a></li>'
                                + '</ul>'
                        + '</div> ';


            if (produto != "" && vigencia != "" && cobranca != "") {
                $(".well").append(botao);
            }

        });


        function modalDetalhes(obj) {

            var exc = "";

            for (i = 0; i < obj.array.length; i++) {
                exc += "<li class='list-group-item' style='color: #a94442; background-color: #f2dede;'>Exceção:" + obj.array[i].excecao + "</li>";
            }

            var dataformatada = new Date(obj.vigencia);
            dataformatada.setDate(dataformatada.getDate() + 1);



            var html = "<ul class='list-group'>";
            html += "<li class='list-group-item'>Produto:" + obj.nome + "</li>";
            html += "<li class='list-group-item'>Desconto:" + (obj.desconto != "" ? obj.desconto : "Nenhum") + "</li>";
            html += "<li class='list-group-item'>Vigência:" + dataformatada.toLocaleString("pt-BR", { year: 'numeric', month: 'numeric', day: 'numeric' }) + "</li>";
            html += "<li class='list-group-item'>Carência:" + obj.carencianome + "</li>";
            html += "<li class='list-group-item'>Tipo de Cobrança:" + obj.nomecobranca + "</li>";
            html += exc;
            html += "</ul>";

            $('#modalProdutoDetalhe .modal-body').html(html);

            $('#modalProdutoDetalhe').modal();

        }



        function excluirProduto(elemento) {
            elemento.parentElement.parentElement.parentElement.remove();
        }


        function excluirExcecao(elemento, botao) {
            elemento.remove();
            botao.remove();
        }


    </script>
}
