
@{
    ViewBag.Title = "Detalhe Cliente";
}


<ol class="breadcrumb">
    <li><a href="/Home/Index">Principal</a></li>
    <li class="active">Detalhes cliente</li>
</ol>


<div class="container" style="margin-top:20px;">

        <div class="widget widget-gray">
            <!-- TYPE PANEL -->
            <div class="widget-head">
                <!-- HEAD PANEL -->
                <h4 class="heading"><i class="fa fa-file"></i> Contratos</h4>
            </div><!-- /HEAD PANEL -->

            <div class="widget-body" id="widget-body1" style="display:none;">
                <!-- CONTENT PANEL -->

                <ul class="list-group">
                    <li class="list-group-item">Contrato nº00001 <span class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="fa fa-eye pointer"  data-toggle="modal" data-target="#modalContrato"  aria-hidden="true"></i> </span></li>
                    <li class="list-group-item">Contrato nº00002 <span class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="fa fa-eye pointer"  data-toggle="modal" data-target="#modalContrato"  aria-hidden="true"></i> </span></li>
                    <li class="list-group-item">Contrato nº00003 <span class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="fa fa-eye pointer"  data-toggle="modal" data-target="#modalContrato"  aria-hidden="true"></i> </span></li>
                </ul>

                <!-- /CONTENT PANEL -->
            </div>

            <div class="widget-footer">
                <!-- FOOTER PANEL-->
                <a href="#" id="toggleContrato" onclick="toogle(this)" class="fa fa-chevron-down fa-1x" title=""><i></i></a>
            </div><!-- /FOOTER PANEL-->

        </div> <!-- /TYPE PANEL -->
 

    <div class="widget widget-gray">
        <!-- TYPE PANEL -->
        <div class="widget-head">
            <!-- HEAD PANEL -->
            <h4 class="heading"><i class="fa fa-file"></i>Ficha Financeira</h4>
        </div><!-- /HEAD PANEL -->

        <div class="widget-body" id="widget-body1" style="display:none;">
            <!-- CONTENT PANEL -->


            <!-- /CONTENT PANEL -->
        </div>

        <div class="widget-footer">
            <!-- FOOTER PANEL-->
            <a href="#" id="toggleContrato" onclick="toogle(this)" class="fa fa-chevron-down fa-1x" title=""><i></i></a>
        </div><!-- /FOOTER PANEL-->

    </div> <!-- /TYPE PANEL -->


    <form>

        <div class="widget widget-gray">
            <!-- TYPE PANEL -->
            <div class="widget-head">
                <!-- HEAD PANEL -->
                <h4 class="heading"><i class="fa fa-archive"></i> Dados cadastrais</h4>
            </div><!-- /HEAD PANEL -->

            <div class="widget-body" id="widget-body1"  style="display:none;" >
                <!-- CONTENT PANEL -->

                <div class="row">
                    <h4>Dados pessoais</h4>

                    <hr class="style4" />




                    <div class="form-group col-md-6">
                        <label for="nome">*Nome completo</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control telefone" id="telefone" placeholder="Telefone">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="telefone">Celular</label>
                        <input type="text" class="form-control telefone" id="telefone" placeholder="Telefone">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="cpf">*CPF</label>
                        <input type="text" class="form-control cpf" id="cpf" placeholder="CPF">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="rg">*RG</label>
                        <input type="text" class="form-control" id="rg" placeholder="RG">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="civil">*Estado civil</label>
                        <select class="custom-select form-control" id="civil">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Solteiro</option>
                            <option value="2">Casado</option>
                            <option value="3">Viúvo</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="nascimento">*Data de nascimento</label>
                        <input type="text" class="form-control data" id="nascimento" placeholder="Data de nascimento">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="sexo">*Sexo</label>
                        <select class="custom-select form-control decorated " id="sexo">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="naturalidade">*Naturalidade</label>
                        <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade">
                    </div>


                    <div class="form-group col-md-2">
                        <label for="sus">Cartão SUS</label>
                        <input type="text" class="form-control" id="sus" placeholder="Cartão SUS">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="mae">*Nome da mãe</label>
                        <input type="text" class="form-control" id="mae" placeholder="Nome da mãe">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="pai">*Nome do pai</label>
                        <input type="text" class="form-control" id="pai" placeholder="Nome do pai">
                    </div>

                </div>

                <div class="row">
                    <h4>Dados Financeiros</h4>
                    <hr class="style4">

                    <div class="form-group col-md-6">
                        <label for="banco">Banco</label>
                        <select class="custom-select form-control decorated " id="banco">
                            <option selected>Escolha uma opção</option>
                            <option value="1">BB</option>
                            <option value="2">Itau</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="agencia">Agência</label>
                        <input type="text" class="form-control" id="agencia" placeholder="Agência">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="conto">Conta corrente</label>
                        <input type="text" class="form-control" id="conta" placeholder="Conta corrente">
                    </div>

                </div>

                <div class="row">

                    <h4>Endereço</h4>
                    <hr class="style4">

                    <div class="form-group col-md-3">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control cep" id="cep" placeholder="CEP">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="rua">*Rua</label>
                        <input type="text" class="form-control" id="rua" placeholder="Rua">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="numero">*Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="Número">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="tipo">*Tipo de endereço</label>
                        <select class="custom-select form-control decorated " id="tipo">
                            <option selected>Escolha uma opção</option>
                            <option value="cobranca">Cobrança</option>
                            <option value="Residencial">Residencial</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="complemento">Complemento</label>
                        <input type="text" class="form-control" id="complemento" placeholder="Complemento">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="bairro">*Bairro</label>
                        <input type="text" class="form-control" id="bairro" placeholder="Bairro">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cidade">*Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="estado">*Estado</label>
                        <select class="custom-select form-control decorated " id="estado">
                            <option selected>Escolha uma opção</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AM">Amazonas</option>
                            <option value="AP">Amapá</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RO">Rondônia</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SE">Sergipe</option>
                            <option value="SP">São Paulo</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <table class="table" id="tabela_endereco">
                            <thead>
                                <tr class="cabecalho_tabela">
                                    <th>CEP</th>
                                    <th>Rua</th>
                                    <th>Número</th>
                                    <th>Tipo de Endereço</th>
                                    <th>Complemento</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="primeiro">
                                    <td colspan="9" align="center" class="normal">Nenhum endereço cadastrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">

                    <hr class="style4">

                    <div class="form-group col-md-12">
                        <label for="obs">Observação </label>
                        <textarea class="form-control" rows="5" id="obs"></textarea>
                    </div>


                    <hr class="style4">

                    <div class="col-md-3 offset-md-6">
                        <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#modal">
                            Editar cadastro
                        </button>
                    </div>
                </div>




            </div><!-- /CONTENT PANEL -->

            <div class="widget-footer">
                <!-- FOOTER PANEL-->
                <a href="#" id="toggle1" class="fa fa-chevron-down fa-1x" onclick="toogle(this)" title=""><i></i></a>
            </div><!-- /FOOTER PANEL-->

        </div> <!-- /TYPE PANEL -->
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="modalContrato" tabindex="-1" role="dialog" aria-labelledby="Janela" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Contrato</h4>
            </div>
            <div class="modal-body text-center">
               <div class="row">
                   <div class="col-md-10"></div>
                   <div class="col-md-2"> <i class="fa fa-print fa-3x pointer" aria-hidden="true"></i></div>
               </div>
               <div class="row">
                   Exibe dados do contrato
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<!-- Como a navegação recarrega a pagina esse script tem que ser usada em cada view -->
@section Scripts {
    <script type="text/javascript">
        $('.nav-pills li:eq(0) a').tab('show');
        $('[data-toggle="tooltip"]').tooltip();


        $('#produto_alteracao').multiselect({
            buttonText: function (options, select) {
                return 'selecione uma opção de produto';
            },
            buttonTitle: function (options, select) {
                var labels = [];
                options.each(function () {
                    labels.push($(this).text());
                });

                $("#grupo_alteracao").val(" ");

                $.each(labels, function (index, value) {
                    if (index == 0) {
                        $("#grupo_alteracao").val($("#grupo_alteracao").val() + value);
                    } else {
                        $("#grupo_alteracao").val($("#grupo_alteracao").val() + " - " + value);
                    }

                });

                return labels.join(' - ');
            }
        });
    </script>
}


